@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "Fred";
  src: local("FredokaOne"), url("./fonts/FredokaOne.woff") format("woff");
}

@font-face {
  font-family: "NM";
  src: local("NaughtyMonster"),
    url("./fonts/NaughtyMonster.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fred";
}

h1,
section,
p,
span,
svg {
  transition: background-color 0.5s, color 0.5s;
}

body {
  font-size: 20px;
}

/* h1 {
  font-size: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1rem;
} */

:root {
  --color-primary: #18181a;
  --color-secondary: #75757c;
  --color-dark: #364c62;
  --color-light: #f5f5f5;
  --font-family-primary: "Roboto";
  --font-family-secondary: "Roboto", sans-serif;
  --td: 150ms;
  --te: cubic-bezier(0.215, 0.61, 0.355, 1);
  /* Light Theme Variables */
  --color-text-light: #333332;
  --color-background-light: #9275d2;
  --color-pink-light: #e5a1aa;
  --color-green-light: #7ad0ac;
  --color-blue-light: #8395cd;
  --color-text: var(--color-text-light);
  --color-background: #fff987;
  --color-pink: var(--color-pink-light);
  --color-green: var(--color-green-light);
  --color-blue: var(--color-blue-light);
}

ul {
  list-style: none;
}

/* Experience --------------------------------------------- */

#can {
  background-color: #ffb52c;
  background-image: url(./images/sectionbg.svg);
}
.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

/* Preloader */
.preloader {
  background-color: #ff9d00;
  width: 100%;
  height: 100vh;
  position: fixed;
  opacity: 1;
  z-index: 99999999999999999;
}

.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 6px;
  background-color: #161616;
  animation: load 1s ease-in-out infinite;
}

.circle:nth-child(2) {
  animation-delay: 0.1s;
}

.circle:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes load {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-12px);
  }

  40% {
    transform: translateY(0);
  }
}

/* Page Itself --------------------------------------------- */
.page {
  z-index: 99999;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.page-wrapper {
  position: relative;
}

/* Preloader Stuff */
.animatedis {
  display: inline-block;
  transform: translateY(100%);
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;

  top: 50%;
  left: 60%;
  font-weight: lighter;
  font-size: 66px;
  color: var(--color-text);
  transform: translate(-50%, -50%);
}

.arrow-svg-wrapper {
  position: absolute;
  top: 90%;
  left: 50%;
  opacity: 0;
  color: var(--color-text);
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(8px);
  }
}

/* Nav Bar --------------------------------------------- */
.nav-bar {
  position: fixed;
  top: 48px;
  right: 48px;
  z-index: 99999999999999;
}

/* Section Formatting --------------------------------------------- */
.section-margin {
  height: 3000px;
  width: 100%;
}

.section {
  position: relative;
  width: 50%;

  padding: 500px 4%;
  margin: 0;

  background-image: url(./images/sectionbg.svg);
  overflow: hidden;
}

.first-section {
  background-color: #e76f51;
  padding-top: 300px;
  color: #feac64;
}

.second-section {
  background-color: #9275d2;
  color: #171717;
}

.third-section {
  background-color: #90eafe;
}

.fourth-section {
  padding-top: 300px;
  padding-bottom: 300px;
  background-color: #c7c7c7;
  color: #282828;
}

.left {
  margin-right: auto;
  border-top-right-radius: 700px 700px;
  border-bottom-right-radius: 0px 0px;
}

.right {
  margin-left: auto;
  border-top-left-radius: 700px 700px;
  border-bottom-left-radius: 0px 0px;
}

/* Progress bars */
.progress-wrapper {
  height: 0;
  width: 12px;
  z-index: 9999;
}

.progress-bar-wrapper-left {
  position: absolute;
  top: 0;
  left: 0;
}

.progress-bar-wrapper-right {
  position: absolute;
  top: 0;
  right: 0;
}

.progress-bar {
  height: 100vh;
  width: 100%;
  background-color: #ffa352;
  transform-origin: top center;
  transform: scaleY(1);
}

/* Sections -------------- */

.section-intro-wrapper {
  position: relative;
  padding: 20% 5%;
}

.section-intro-wrapper:nth-child(3) {
  border-bottom: 2px solid var(--color-green);
}

.section-detail-wrapper {
  position: relative;
  padding: 20% 5%;
}

.section-heading {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.8;
  margin-top: 64px;
  color: var(--color-text);
}

.section-text {
  line-height: 2;
  margin-top: 18px;
  font-size: 20px;
}

/* Fancy Decoration Part of Section */
.section-title {
  position: relative;
  color: var(--color-pink);
}

.section-title-text {
  display: block;
  font-size: 40px;
  font-weight: 500;
  transform-origin: left;

  z-index: 5;
  text-transform: uppercase;
  color: var(--color-pink);
}

.styleOne,
.styleTwo,
.styleThree {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 278px;
  height: 60px;
  border: 1px solid var(--color-pink);
  transform-origin: left;
  transform: skewY(-25deg);
}

.styleOne {
  top: 0px;
}

.styleTwo {
  top: 80px;
}

.styleThree {
  top: 80px;
  transform: skewY(25deg);
  background-color: var(--color-pink);
}

.section-number {
  position: absolute;
  bottom: 15px;
  right: 0;
  color: var(--color-pink);
  font-size: 24px;
}

/* Hero section -------------------------------- */

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

.hero-main {
  position: absolute;
  bottom: calc(50% - 240px);
  left: 0;
  color: var(--color-text);
}

.hero-second {
  position: absolute;
  top: calc(50% - 120px);
  right: 0;
  color: var(--color-text);
}

.hero-main-title {
  font-size: 74px;
  color: var(--color-text);
  font-family: "NM", sans-serif;
  font-weight: bold;
}

.hero-main-description {
  font-size: 18px;
  color: var(--color-text);
}

.hero-second-subheading {
  font-size: 42px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-text);
  font-family: "NM";
}

/* Other colors override */

.blue-text {
  color: var(--color-blue);
}

.blue-border {
  border-color: var(--color-blue);
}

.black-background {
  background-color: #171717;
}

.grey-background {
  background-color: #282828;
}

.green-text {
  color: var(--color-green);
}

.green-border {
  border-color: var(--color-green);
}

.green-background {
  background-color: var(--color-green);
}

/* Media Queries */

@media (max-width: 968px) {
  .section {
    width: 100%;
  }
  .progress-bar-wrapper-left {
    right: 0;
    left: auto;
  }
  .hero-main {
    top: 120px;
  }
  .hero-second {
    bottom: 30px;
    top: unset;
  }
  .hero-wrapper {
    width: calc(100% - 60px);
  }
  .hero-main-title {
    font-size: 32px;
  }
  .hero-main-description {
    font-size: 18px;
  }
  .hero-second-subheading {
    font-size: 18px;
    font-weight: 600;
  }
}

/*countdown*/
.countdown {
  margin-left: 0.5rem;
  margin-top: 1rem;
}

.countdown li p {
  display: inline-block;
}

/* navbar */

.button_container {
  position: fixed;
  top: 5%;
  right: 2%;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.7;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #171717;
  border: none;
  border-radius: 50px;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #2f2f2f;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.5s ease forwards;
  animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.5s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #fff;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after,
.overlay ul li a:focus:after,
.overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #fff;
  transition: 0.35s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.gradient-headings {
  background: #171717;
  background: linear-gradient(0deg, #b125c9 -3.03%, #3d198a 101.9%);

  width: fit-content;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
/* .vibimg {
  height: 100%;
  width: 100%;
} */

.vim {
  width: 220px;

  padding-top: 100px;
  height: 320px;
  top: 21%;
  left: 19%;
  position: absolute;
  overflow: hidden;
  transform: scale(1) translateX(2000px);
}

.svgimg {
  width: 215px;
  height: 215px;
}

/* add media query for optimizing for devices less than 1138 */

/* 
** Change this if you need to modify
** the amount of lines displayed
*/
/*
** Leave these unless you want
** to open a whole can of worms
*/
/*
** Set up the experiment
*/

.sec-title {
  position: relative;
  padding-bottom: 50px;
}

/*
** Apply styles to the parent element
*/
.Words {
  margin: 0 auto;
  padding-bottom: 80px;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 68px;
  font-weight: 900;
  letter-spacing: -2px;
  text-transform: uppercase;
  transform: translate3d(0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-font-kerning: normal;
  -webkit-text-size-adjust: 100%;
}

/*
** Apply common styles to each line of text
*/

.Words-line {
  height: 50px;
  overflow: hidden;
  position: relative;
}
.Words-line:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.66667);
}
.Words-line:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.33333);
}
.Words-line:nth-child(1) {
  left: 29px;
}
.Words-line:nth-child(2) {
  left: 58px;
}
.Words-line:nth-child(3) {
  left: 87px;
}
.Words-line:nth-child(4) {
  left: 116px;
}
.Words-line:nth-child(5) {
  left: 145px;
}
.Words-line:nth-child(6) {
  left: 174px;
}
.Words-line:nth-child(7) {
  left: 203px;
}

/*
** Fine-grained text styles
*/
.sec-p {
  height: 50px;
  line-height: 45px;
  padding: 0 10px;
  transition: all 0.4s ease-in-out;
  transform: translate3d(0, 0, 0);
  vertical-align: top;
  white-space: nowrap;
}

/*
** The hover interaction
*/
.Words:hover p {
  transform: translate3d(0, -50px, 0);
}
.tagline {
  margin: 20%;
  font-size: larger;
  font-family: "Fred";
  font-style: italic;
}

/* team cards */
.team-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;
  padding-top: 20px;
}
.team-container .team-card {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-container .team-card .team-content {
  position: absolute;
  bottom: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  flex-direction: column;
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(10px);
  box-shadow: 0 -10px 10px rgb(0 0 0 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  transition: bottom 0.5s;
}
.team-container .team-card:hover .team-content {
  bottom: 0;
  transition-delay: 0s;
}
.team-container .team-card .team-content .contentBx h3 {
  text-transform: uppercase;
  color: #000000;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 15px;
  line-height: 1.1em;
  transition: 0.5s;
  transition-delay: 0.6s;
  opacity: 0;
  transform: translateY(-20px);
}
.team-container .team-card:hover .team-content .contentBx h3 {
  opacity: 1;
  transform: translateY(0);
}
.team-container .team-card .team-content .contentBx h3 span {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;
}

/* buttons */

.button {
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0.5em 0.75em;
  color: #282828;
  border: 0.15em solid #171717;
  border-radius: calc(0.75em + 0.5em + 0.15em);
  transition: 3s;
}
.button:before,
.button:after {
  content: "";
  position: absolute;
  top: -1.5em;
  z-index: -1;
  width: 200%;
  aspect-ratio: 1;
  border: none;
  border-radius: 40%;
  background-color: rgba(22, 22, 22, 0.25);
  transition: 3s;
}
.button:before {
  left: -80%;
  transform: translate3d(0, 5em, 0) rotate(-340deg);
}
.button:after {
  right: -80%;
  transform: translate3d(0, 5em, 0) rotate(390deg);
}
.button:hover,
.button:focus {
  color: rgb(171, 171, 171);
}
.button:hover:before,
.button:hover:after,
.button:focus:before,
.button:focus:after {
  transform: none;
  background-color: rgba(22, 22, 22, 0.75);
}

.Button-container {
  position: relative;
  left: 38%;
  padding-bottom: 20px;
}

.contact {
  margin-top: 15%;
  text-align: center;
}

.contact-header,
.contact-sub {
  padding-bottom: 20px;
}

.crackers {
width: 411px;
height: 1736%;
position: absolute;
top: -858%;
left: -28%;
opacity: 0.8;
fill: #75757c;
}
.decorations {
  width: fit-content;
  height: fit-content;
  transform: scale(1.8);
  margin-top: 60%;
}

.vitbooks {
  width: 300px;
  height: 300px;
  position: absolute;
  position: absolute;
  left: -8%;
  transform: rotate(30deg);
  bottom: 0.1%;
  top: 54%;
}

.contact-sub {
  font-weight: 200;
  color: #3d3d3d;
}

/* COPYRIGHT */

/* 
.copyright-container{

} */

.support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.copyright {
  position: absolute;
  right: 30%;
  bottom: 10px;
}
.support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.support a:hover {
  transform: scale(1.1);
}
.insta {
  width: 30px;
  height: 30px;
}

.yout {
  width: 40px;
  height: 40px;
}
